@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --peach: #FFF6E8;
}

.nav-hover {
  position: relative;
  display: inline-block;
  transition: transform 0.2s ease-out;
}

.nav-hover:hover {
  transform: translateY(-2px);
}

.nav-hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1.5px;
  width: 0;
  background-color: black;
  transition: width 0.2s ease-out;
}

.nav-hover:hover::after {
  width: 80%;
  transform: translateX(40%);
}
