@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --peach: #FFF6E8;
    --maroon: #660000;
}

/* Hide Scrollbar */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE & Edge */
  scrollbar-width: none;     /* Firefox */
}

.nav-hover {
  position: relative;
  display: inline-block;
  transition: transform 0.2s ease-out;
}

.nav-hover:hover {
  transform: translateY(-4px);
}

.nav-hover::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1.5px;
  width: 0;
  background-color: black;
  transition: width 0.2s ease-out;
}

.nav-hover:hover::after {
  width: 80%;
  transform: translateX(40%);
}

/* Hero Image Slider */

@keyframes slideIn {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slideOut {
  0% {
    transform: translateX(0%);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-in {
  animation: slideIn 1s ease forwards;
}

.slide-out {
  animation: slideOut 1s ease forwards;
}


.text-shadow {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

/* Button shine */

.btn-shine {
  position: relative;
  overflow: hidden;
}

.btn-shine::before {
  content: '';
  position: absolute;
  top: 0;
  left: -75%;
  width: 50%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.4) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
}

.btn-shine:hover::before {
  animation: shine 0.75s ease-out;
}

@keyframes shine {
  0% {
    left: -75%;
  }
  100% {
    left: 125%;
  }
}

/* Projects page */
.image-wrapper {
  overflow: hidden;
  border-radius: 1rem;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.portrait img {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 3/4;
}

.landscape img {
  object-fit: cover;
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}
